:root{
    font-size: 16px;

    /* color theme is green brown black */
}
header{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* position */

    /* box-model */
    height: 10svh;
    width: 100svw;
    background-color: #6B8A7A;
    /* typography */
}

nav{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main-img{
    width: 100svw;
    height: 90svh;
    background: url('./images/food-img.jpg');
    background-position: center;
}


.second-img{
    width: 100svw;
    height: 30svh;
    display: flex;
    background: black;

}

.second-img-left, .second-img-right{
    /* take up equal sizes of space */
    flex:1 1 0;
}

.second-img-left{
    background: url(./images/dessert-img.jpg);
    background-size: cover;
    background-position: center;
}

.second-img-right{
    background: url(./images/drink-img.jpg);
    background-size: cover;
    background-position: center;
}

.footer{
    width: 100svw;
    height: 45svh;
    display: flex;
    background: black;
    color: white; /*for font color*/
}

.menu{
    width: 100svw;
    height: 90svh;
    background: url(./images/menu-img.jpg);
    background-size: cover;
    background-position: center;
}

/* quick form styling */
form{
    width: 50svw;
    height: 50svh;
    border: 1rem solid black;
    background-color: black;
}