:root{
    font-size: 16px;
}
header{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    /* position */

    /* box-model */
    height: 10svh;
    width: 100svw;
    background-color: aquamarine;
    /* typography */
}

nav{
    /* display */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main-img{
    width: 100svw;
    height: 90svh;
    background: url('./images/mexican-food.jpg');
}


.second-img{
    width: 100svw;
    height: 30svh;
    display: flex;
    background: black;

}